 {{#if banner.length}}
 {{#each banner}}
      {{!-- no podemos hacer un foreach sin comprobar que existen primero --}}
<div class="banner-section mdl-typography--text-center" 
     style="background: url(../img/{{imgBanner}}) center 30% no-repeat; background-size: cover;">
  <div class="logo-font slogan">{{slogan}}</div>
  <div class="logo-font sub-slogan">{{subslogan}}</div>
   {{#if button}}
  <a href="{{linkButton}}">
    <!-- Raised button with ripple -->
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      {{button}}
    </button>
  </a>  
   {{/if}}
</div>
{{/each}}
{{/if}}
