 {{#if who.length}}
 {{#each who}}
<div class="banner-section mdl-typography--text-center" 
     style="background: url(../img/{{imgBanner}}) center 30% no-repeat; background-size: cover;">

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--4-col">
           <h3 class="mdl-typography--text-uppercase">{{title}}</h3>
            <p>{{text}}</p>
            {{#if button}}
            <a href="{{linkButton}}">
              <!-- Raised button with ripple -->
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                {{button}}
              </button>
            </a>  
            {{/if}}
      </div>
      <div class="mdl-layout-spacer"></div>
  </div>
</div>
{{/each}}
{{/if}}
