<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/components/material-design-lite/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- custom theme -->
    <link rel="stylesheet" type="text/css" href="/styles/theme.css">
    <link rel="stylesheet" type="text/css" href="/styles/ui-md-alerts.css">

  </head>
  <body class="auth {{page}}">
    <div class="mdl-layout mdl-js-layout">
      <header class="mdl-layout__header mdl-layout__header--waterfall"
              style="background: url(../img/{{imgBackground}}) center 0 no-repeat; background-size: cover;">
        <div class="mdl-layout__header-row mdl-layout--large-screen-only">
        {{> navbar}}
        </div>        
      </header>
      
      <!-- Drawer -->
      <div class="mdl-layout__drawer mdl-layout--small-screen-only">
            {{> navbar}}
      </div>

      <div class="profile-ribbon"
        style="background: url(../img/{{imgBackground}}) center -100px no-repeat; background-size: cover;"
        ></div>

      <!-- NOTA: siempre necesitamos el main con este class para que se muestre el drawer -->
      <main class="mdl-layout__content"
       style="background: url(../img/{{imgBackground}}) center -100px no-repeat; background-size: cover;">       
        
        {{{body}}}
        
        <footer class="mdl-mega-footer">

          <!-- TOAST validation messages -->
          <div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
          </div>

          {{> footer}}
        </footer>
      </main>
      <!-- scripts -->
      <script src="/components/material-design-lite/material.min.js"></script>
       <script src="/js/main.js"></script>
  </body>
</html>

