  <h1>Usuarios</h1>
    <!-- para poner código siempre doble llave -->
    {{#if users.length}}
      {{!-- no podemos hacer un foreach sin comprobar que existen primero --}}
      {{#each users}}
      <p>
        {{id}} : {{name}}
      </p>
      {{/each}}    
    {{else}}
      <p>No hay Usuarios</p>
    {{/if}}
  
  <h2>Administrador</h2>
  {{#with admin}}
    <h3>{{name}}</h3>
    <p>El Administrador es: {{fullname}} </p>
    {{log "Prueba del log que hay admin"}}

  {{else}}
      No hay administrador
  {{/with}}

  
