<section id="travels">

  <div class="mdl-grid">

    {{#if travels.length}}
      {{!-- no podemos hacer un foreach sin comprobar que existen primero --}}
      {{#each travels}}
      <div class="mdl-cell mdl-cell--4-col">
        <div class="travel-card-event mdl-card mdl-shadow--2dp" style="background:
      url('../img/travels/{{img}}') bottom right 15% no-repeat #46B6AC;">
          {{!-- <img src="../img/travels/tokyo.jpg" alt=""> --}}
          <div class="mdl-card__title mdl-card--expand">
            <div class="mdl-grid mdl-grid--no-spacing">
              <div class="mdl-cell mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h4>
                  Ahorra {{discount}}€
                </h4>
              </div>
              <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                <h3>
                  {{price}}€
                </h3>
              </div>
            </div>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-typography--text-center">
              {{city}}
            </a>
          </div>
        </div>
      </div>
      {{/each}}    
      {{else}}
        <p>No hay viajes disponibles en estos momentos</p>
      {{/if}}
  </div>
</section>